.max-panel {
  margin-top: 1%;
}
.max-panel > .panel-heading {
  font-family: 'Merriweather', serif;
  text-shadow: -1px 0 white, 0 1px white,
      1px 0 white, 0 -1px white;
  border-color: #002F87;
  color: #002F87;
  background-color: #2e6da4;
}
.max-panel > .panel-body {
  border-color: #002F87;
  color: #002F87;
  background-color: white;
}
p.thick {
    font-weight: bold;
    color: #002F87;
    background-color: white;
}
