@charset "utf-8";
/* CSS Document */


		header{
				background-color: #3B5998; 
				color:#FFF; 
				font-family: lucida grande, tahoma, verdana, arial, sans-serif;
				width:100%;
				position:fixed;
				top:0px;
				z-index:10
		}
		
		.header_base{
				background-color: #D7D7D7 ;
				color:#FFF; 
				width:100%;
				position:fixed;
				top:100px;
				z-index:10
		}
		
		nav{
			margin-top:20px;	
		}
		
		body{
			margin:0px;;
		}
		#content{ font-family: lucida grande, tahoma, verdana, arial, sans-serif;
				font-size:12px;
		}
		
		.botones {
				 border-top: 1px solid #96d1f8;
				 background: #65a9d7;
				 background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
				 background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
				 background: -moz-linear-gradient(top, #3e779d, #65a9d7);
				 background: -ms-linear-gradient(top, #3e779d, #65a9d7);
				 background: -o-linear-gradient(top, #3e779d, #65a9d7);
				 padding: 4.5px 9px;
				 -webkit-border-radius: 3px;
				 -moz-border-radius: 3px;
				 border-radius: 3px;
				 -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
				 -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
				 box-shadow: rgba(0,0,0,1) 0 1px 0;
				 text-shadow: rgba(0,0,0,.4) 0 1px 0;
				 color: white;
				 font-weight:bold;
				 font-size: 10px;
				 font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
				 text-decoration: none;
				 vertical-align: middle;
		}
		.botones:hover {
				 border-top-color: #28597a;
				 background: #28597a;
				 color: #ccc;
		 }
		.botones:active {
				 border-top-color: #1b435e;
				 background: #1b435e;
		 }
		
		.textbox {
				   /*width: 200px;*/
				   height: 15px;
				   border: solid 2px #FFF;
				   padding: 2px;
				   border-radius: 5px;
				   font-size: 12px;
				   box-shadow: 0px 1px 5px 0px #9C9C9C;
				   background-color: #FFFFFF;
				   outline: none;
				   color: #474747;
				   text-transform: capitalize;
				  }
				.textbox:hover  {
				   border: 2px solid #999;
				  }
				.textbox:focus  {
				   border: solid 2px #FF9C;
				   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
				  }
				.textbox:active  {
				   border: solid 2px #FF9;
		}
		
			  
			  textarea{ width:100%;}
			  
		.formulario{ 
					font-size:12px;
			}
			
		.tablas{
			font-size: 12px;
			font-family:Verdana, Geneva, sans-serif;
			margin-top: 20px;
			border-collapse:collapse;	
		}
		
		.tablas_ed{
			font-size: 12px;
			font-family:Verdana, Geneva, sans-serif;
			margin-top: 20px;
			border-collapse:collapse;	
		}
		
		.ticket{
				border-radius: 60px 10px 60px 10px;
				-moz-border-radius: 60px 10px 60px 10px;
				-webkit-border-radius: 60px 10px 60px 10px;
				border: 0px solid #3B5998;
				height:	550px;
				background-color: #3B5998;
				width: 550px;
				
		}
		
		.ui-dialog .ui-dialog-titlebar
		{
			font-family: arial;
			font-size:12px;
		}

		.login{
				border-radius: 60px 10px 60px 10px;
				-moz-border-radius: 60px 10px 60px 10px;
				-webkit-border-radius: 60px 10px 60px 10px;
				border: 0px solid #3B5998;
				height:	250px;
				background-color: #3B5998;
				width: 500px;
				
		}
		
		.intro_tk{
			border-radius: 42px 42px 42px 42px;
			-moz-border-radius: 42px 42px 42px 42px;
			-webkit-border-radius: 42px 42px 42px 42px;
			border: 0px solid #000000; 
			background-color:#ededed;	
		}
			  


